{% extends 'base.html' %}

{% load static %}
{% block title %}
  Home
{% endblock title %}

{% block content %}
    <!-- Product Catagories Area Start -->
    <div class="products-catagories-area clearfix">
        <div class="amado-pro-catagory clearfix">

            <!-- Single Catagory -->
            {% for product in products %}
              <div class="single-products-catagory clearfix">
                <a href="{{ product.get_absolute_url }}">
                  <img src="{{ product.picture.url }}" alt="">
                      <!-- Hover Content -->
                      <div class="hover-content">
                          <div class="line"></div>
                          <p>From &#8358;{{ product.amount }}</p>
                          <h4>{{ product.name }}</h4>
                      </div>
                  </a>
              </div>
            {% endfor %}

        </div>
    </div>
    <!-- Product Catagories Area End -->
{% endblock content %}
